<div class="card-list-container py-5">

  <div class="card w-50 mx-auto mt-4 shadow-lg">

    <div class="card-body">

　<p><%= image_tag @post.user.get_profile_image(50,50) %></p>

　<p>ユーザーネーム：<%= @post.user.name %></p>

  <p>タイトル：<%= @post.title %></p>

  <p>内容：<%= @post.content %></p>

  <p><% @post.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
  </p>

　<p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>


    <%= link_to "削除", admin_post_path(@post), method: :delete %>

    </div>

  </div>

</div>

<div class="card-list-container py-5">

  <div class="card w-50 mx-auto mt-4 shadow-lg">

    <div class="card-body">

  <!--コメント欄-->
  <p>ユーザーコメント</p>
  <p>コメント件数：<%= @post.post_comments.count %></p>
  <% @post.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image(30,30) %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>

      <%= link_to "削除", admin_post_post_comment_path(post_comment.post, post_comment), method: :delete %>
  <% end %>

    </div>

  </div>

</div>
