<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>

  <% if @user == current_user %>
  <p><%= link_to "プロフィール編集", edit_user_user_path(@user.id) %></p>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->

<% @posts.each do |post| %>

<div>
  <p>ユーザーネーム：<%= post.user.name %></p>
  <p>タイトル：<%= post.title %></p>
  <p>説明：<%= post.content %></p>

  <p><%= link_to "#{post.post_comments.count} コメント", user_post_path(post.id) %></p>

</div>

<% end %>
