<!-- ユーザーの詳細 -->
<div class="card-list-container py-5">

  <div class="card w-50 mx-auto mt-4 shadow-lg">

    <div class="card-body">

  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>

  <% if @user == current_user %>
  <p><%= link_to "プロフィール編集", edit_user_user_path(@user.id) %></p>
  <p><%= link_to "いいねした投稿", favorites_user_user_path(@user.id) %></p>
  <% end %>

    </div>

  </div>

</div>
<!-- ユーザーの投稿一覧 -->

<div class="card-list-container py-5">

  <div class="card w-50 mx-auto mt-4 shadow-lg">

    <div class="card-body">

<% @posts.each do |post| %>

<div>

  <p>タイトル：<%= post.title %></p>
  <p>内容：<%= post.content %></p>

  <p><%= link_to "#{post.post_comments.count} コメント", user_post_path(post.id) %></p>

</div>

<% end %>

    </div>

  </div>

</div>